@page "{handler?}"
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

@{
  void RenderDetail(
    ChildModel child)
  {
    <div class="bg-gray-200">
      <a href="@Url.PageLink("Index", "Details", new {Id = child.Id})">@child.Id</a>
    </div>
  }

  void RenderFull(
    ParentModel parent)
  {
    <div class="bg-blue-500 p-4">
      @{
        @foreach (var parentChild in parent.Childs)
        {
          RenderDetail(parentChild);
        }
      }
    </div>
  }
}


@{
  switch (Model.PageModel.FragmentId)
  {
    case "Full":
      RenderFull(Model.PageModel as ParentModel);
      break;
    case "Detail":
      RenderDetail(Model.PageModel as ChildModel);
      break;
    default:
      throw new ArgumentOutOfRangeException();
  }
}
